gunicorn
transformers
accelerate
einops
xformers
bitsandbytes
huggingface_hub
pypdf
torch
datasets
numpy
scipy
flask
gunicorn
jinja2
pandas
matplotlib
tokenizers
scikit-learn
gradio
gunicorn
nltk
langdetect
beautifulsoup4
Django